
.fwb {
  font-weight: bold; }

.tac {
  text-align: center; }

.tar {
  text-align: right; }

h1 {
  font-size: 2em;
  margin-bottom: 10px; }

h3 {
  font-size: 1.2em; }

h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 6px; }

h1, h2, h3, h4, h5, h6 {
  font-family: goudy_old_styleregular;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  color: #7c211e; }
  
  .clearfix {
	clear:both;
  }