$accent:#af2626;
$border:#7c211e;
@import "flexslider";
@import "typography";
@import "dropdownmenu";
@import "mobileresponsive.scss";

body {
  background-image: url("../images/marblebg.jpg");
  background-repeat: repeat-y;
  background-position: top left;
  background-size: 100%, 75%;
  font-family: "Helvetica Neu", Helvetica, Arial, Sans-serif;
  color: #777;
  font-size: 15px;
  line-height: 1.4em; }

a {
  color: #7c211e;
  text-decoration: none; }

img {
  max-width: 100%; }

#loginbox {
  width: 30%;
  float: right;
  margin-top: -63px; }

#cartgraphic {
  margin-top: 15px;
  float: left;
  width: 40px; }
********////////////////////////////////////
#banner {
  position: relative;
  min-width: 100%;
  max-width: 100%;
  height: 280px; }
  #banner img {
    vertical-align: bottom; }
    #banner img a {
      border: 0px; }
  #banner #v65-modalCart {
    margin-top: 20px; }
  #banner #headerimage {
    position: absolute;
    top: 45px;
    left: 0px;
    z-index: 99;
    min-width: 100%;
    max-width: 100%;
    border-bottom: solid thick $border; }
    #banner #headerimage img {
      min-width: 100%;
      max-width: 100%;
      max-height: 280px; }
  #banner #headerglow {
    background: url("../images/header.png") repeat-x;
    position: absolute;
    z-index: 999;
    min-width: 100%;
    min-height: 280px;
    top: 45px;
    border-top: solid thick $border;85 }
  #banner #banner-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
  #banner #logo {
    position: absolute;
    z-index: 9999;
    width: 30%;
    top: 55px; }
  #banner #top-nav {
    position: absolute;
    right: 0;
    top: 45px;
    z-index: 9999;
    width: 60%; }

#page_container {
  clear: both;
  overflow: hidden;
  margin-top: 20px;
  background-image: url(../images/brickbg.png);
  background-size: 100%; }

#content_box {
  background: none repeat scroll 0 0 #F9FAF7;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding: 1em;
  width: 80%;
  margin-top: 54px;
  box-shadow: 0 0 5px 10px #f9faf7; }


#col4area {
  background: #d6d6d6;
  overflow: hidden;
  padding-top: 2em; }

#col4container {
  /*	width:80%;*/
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  padding-bottom: 2em;
  border-bottom: solid thick #7c211e; }

.col4 {
  width: 24%;
  float: left;
  padding: 5px; }

.header-underline {
  margin-bottom: 14px;
  padding-bottom: 10px; }

.header-underline {
  border-bottom: 3px solid #7c211e; }

#logo img {
  max-width: 100%; }

.dotted {
  border-bottom: 1px dotted #BDB7A4; }

#footer_area {
  background: url("assets/images/marblebg.png");
  overflow: hidden;
  padding: 10px; }

#footer_logo {
  width: 20%;
  float: left; }

#footer_nav {
  width: 80%;
  text-align: right;
  float: right; }

#footer_legal {
  width: 80%;
  clear: both; }

#footer_nav a {
  color: $border;
  text-decoration: none; }

#footer_nav ul {
  display: inline; }

#footer_nav li {
  list-style: none;
  display: inline;
  margin-right: 15px; }

#footer_legal {
  clear: both;
  color: $accent;
  font-size: .5em;
  float: right;
  width: 80%;
  text-align: right; }
  #footer_legal a {
    color: $accent;
    text-decoration: none; }
  #footer_legal li {
    list-style: none;
    display: inline;
    margin-right: 15px; }
